body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    all: unset;
}

.info{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
}

.info-container{
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    border-style: double;
    border-color: #c3cfe2;
}

.main-container{
    margin: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
}

.main-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card{
    margin: 5px;
    width: 80%;
    border-color: rgb(151, 151, 151);
    border-style:double
}

.show-search{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.list-cards{
    margin: 10px;
    display: flex;
    columns: 2;
    flex-flow: row wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

.add-form{
    margin: 10px;
}

.form-label{
    margin-bottom: 0.1rem;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.form-buttons{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
